

// condition for customizing item sizes in mobile view
@mixin items-size($one-per-row: true) {

    @if $one-per-row {

        .myCard {

            &__imgContainer {

                &--tag {
                    font-size: 3vw;
                    bottom: -40px;
                }
            }


            &__detailContainer{
                &--title {
                    font-size: 4.8vw;
                    min-width: 85%;
                }

                &--info {
                    min-width: 75%;
                    &--price,
                    &--rate {
                        font-size: 4.5vw;
                    }
                }

                &--btn {
                    font-size: 4vw;
                }
            }
        }

    }


    @else {
        .myCard {
            &__detailContainer{
                &--title {
                    font-size: 2.8vw;
                    min-width: 85%;
                }

                &--info {
                    max-width: 85%;
                    &--price,
                    &--rate {
                        font-size: 2.5vw;
                    }
                }

                &--btn {
                    font-size: 2vw;
                }
            }
        }
    }
}



.myCard {
    aspect-ratio: 1 / 1.6;

    &.col-12 {
        @include items-size($one-per-row: true);
    }

    &.col-6 {
        @include items-size($one-per-row: false);
    }


    &__imgContainer {

        flex-grow: .3;
        width: 100%;

        &--img {
            width: 50%;
            max-width: 100%;
        }

        &--tag {
            padding: 3px 6px;
            color: gray;
        }
    }

    &__detailContainer {
        flex: 1;

        &--title {
            text-align: center;
            width: 100%;
        }

        &--info {
            width: 100%;
        }

        &--btn {
            padding: 4px 8px;
            border: 1px solid black;
        }
    }
}