@include media-breakpoint-up(lg) {
    .cart {
        top: 100px;
        z-index: -10;

    
        &__products {
    
            &__single{
    
               aspect-ratio: 1 / 0.5;
               height: 300px;
    
                &--image {
                   aspect-ratio: 1 / 1; 
                }
    
                &--detail {
                   &--title{
                    font-size: 2vw !important;
                   }
                   
                   &--price{
                    font-size: 1.5vw !important;
                   }
                }
            }
        }
    
    
      
    }
} 