
// condition for customizing item sizes in desktop view
@mixin items-size-desk($two-per-row: true) {

    @if $two-per-row {

        .myCard {

            &__imgContainer {
                
                width: 50%;
                height: 50%;
            }

            &__detailContainer{
                height: 50%;
                &--title {
                    font-size: 1.5vw;
                    min-width: 85%;
                    max-width: 85%;
                }

                &--category{
                    font-size: 1.3vw;
                 }

                &--info {
                    max-width: 70%;
                    &--price,
                    &--rate {
                        font-size: 1.3vw;
                    }
                }

                &--btn {
                    font-size: 1vw;
                }
            }
        }

    }


    @else {
        .myCard {
            
            

            &__imgContainer {
                
                width: 50%;
                height: 50%;
            }
           
            &__detailContainer{
                height: 50%;
                &--title {
                    font-size: 1.5vw;
                    min-width: 85%;
                    max-width: 100%;
                }

                &--category{
                    font-size: 1.3vw;
                }

                &--info {
                    max-width: 85%;
                    &--price,
                    &--rate {
                        font-size: 1.1vw;
                    }
                }

                &--btn {
                    font-size: .9vw;
                }
            }
        }
    }
}

@mixin items-size-desk-2($four-per-row: true) {
    @if $four-per-row {

       

        .myCard {

            &__imgContainer {
                
                width: 50%;
                height: 50%;
            }


            &__detailContainer{
                height: 50%;
                &--title {
                    font-size: 1vw;
                    min-width: 85%;
                }

                &--category{
                    font-size: 1vw;
                 }

                &--info {
                    max-width: 75%;
                    &--price,
                    &--rate {
                        font-size: 1vw;
                    }
                }

                &--btn {
                    font-size: .6vw;
                }
            }
        }

    }
}



@include media-breakpoint-up(sm) {


    .myCard {

    
        aspect-ratio: 1.6 / 2.5;

        &.col-sm-6 {
            @include items-size-desk($two-per-row: true);
        }
    
        &.col-sm-4 {
            @include items-size-desk($two-per-row: false);
        }

        &.col-sm-3 {
            @include items-size-desk-2($four-per-row: true);
        }
        
        

        &__detailContainer {

            &--title {
                text-align: center;
                height: 75px;
            }

            &--category{
                margin-bottom: 15px;
             }

            &--btn {
                padding:  10px 15px;
                border: 1px solid black;
            }
        }
    }
}