@mixin main-padding($two-per-row: true) {
    @if $two-per-row {
        .main {
            @include media-breakpoint-up(md) {
                & {
                    padding: 3rem;
                }
            }
            
            @include media-breakpoint-up(xxl) {
                & {
                    padding: 10rem;
                }
            }
        }
    }

    @else {
        .main {
            @include media-breakpoint-up(md) {
                & {
                    padding: 2rem;
                }
            }
            
            @include media-breakpoint-up(xxl) {
                & {
                    padding: 6rem;
                }
            }
        }
    }
}




@include main-padding($two-per-row: true);
@include main-padding($two-per-row: false);


@include media-breakpoint-up(sm) {
   
    
    .main {
       
    }
    .options {
    
        
        height: auto;
    
        &__widgets {
            
          

            &__customization {
                width: 30%;

                &--lgItems,
                &--mdItems,
                &--smItems {
                    width: 2.5vw;
                }
            }


            &__sort {
                width: 30%;
                font-size: 1.5vw;
                
            }
    
           
        }


        &__filter {
            width: 30%;

            &--list {

                
                left: 20%;

                &--option {
                    font-size: 1vw;
                    
                }
            }
        }
    }
}