* {
    box-sizing: border-box;
}



body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}


html {
 
}


a {
    text-decoration: none !important;
    color: inherit !important;
    display: inline-block;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, p, span {
   margin: 0 !important;
   
}


svg {
    width: 100%;
}


button {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

